<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weedien.csust.dao.UserRoleMapper">
    <resultMap id="userRoleMap" type="cn.weedien.csust.po.UserRole">
        <id property="urid" column="urid"/>
        <result property="uid" column="uid"/>
        <result property="rid" column="rid"/>
    </resultMap>

    <select id="getRoleIdsByUserId" resultType="string">
        SELECT rid
        FROM user_roles
        WHERE uid = #{uid}
    </select>
</mapper>