<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weedien.csust.dao.UserMapper">

    <select id="getUserById" parameterType="string" resultType="cn.weedien.csust.advanced.po.User">
        SELECT uid, `name`, `password`
        FROM users
        WHERE uid = #{uid}
    </select>

</mapper>
